{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ encyclopedia_name }}
{% endblock %}


{% block body %}
    <h1>{{ encyclopedia_name }}</h1>
    <div class="div-line"></div>
    <div class="div-breakline"></div>
    <div>
        {{ detail|default_if_none:"Word doesn't exist in the encyclopedia." }}
    </div>
    <div class="div-breakline"></div>
    <div class="div-breakline"></div>
    <div class="div-breakline"></div>
    <nav class="navbar navbar-light bg-secondary">
        <form action="{% url "encyclopedia_update" encyclopedia_name %}" method="get">
            {% csrf_token %}
            <input class="field" type="hidden" value="{{ encyclopedia_name }}" name="name">
            <input class="field" type="hidden" value="edit" name="oper">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </nav>
 
 {% endblock %}


